@tailwind base;
@tailwind components;
@tailwind utilities;

.amplify-flex.flex-principal {
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}

/* section {
  width: 100%;
  margin-inline: auto;
  padding: 2rem 0;
} */

.amplify-flex.flex-seccion {
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap;
  gap: 1rem;
}

.amplify-grid.grid-center {
  justify-items: center;
}

.amplify-collection {
  align-items: center;
}